# Maven output
target/

# Maven wrapper (исключения)
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin plugin (если вдруг включится)
.kotlin/

# IntelliJ IDEA (игнорим ВСЮ папку)
.idea/
*.iml
*.iws
*.ipr

# OS garbage
.DS_Store       # macOS
Thumbs.db       # Windows

wallets/*.json

# exports / backups
backup.json
*.backup.json


